.container-big {
  max-width: calc(var(--container-big-width) + var(--container-padding-x)*2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.container-small {
  max-width: calc(var(--container-small-width) + var(--container-padding-x)*2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.hidden-mobile {
  @include mobile {
    display: none !important;
  }
}