@import "../../styles/mixins";
@import "../../styles/media";

.header {
  padding-top: 20px;

  &__logo {
    @include desktop {
      width: 100px;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    @include mobile {
      flex-direction: column;
      row-gap: 16px;
    }
  }

  &__nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    @include tablet {
      left: 40%;
    }

    @include mobile {
      left: 50%;
      top: 120%;
    }



    &-list {
      display: flex;
      align-items: center;
      column-gap: 40px;

      @include desktop {
        column-gap: 30px;
      }
    }

    &-link {
      @include hover {
        color: var(--color-accent);
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
    column-gap: 80px;

    @include desktop {
      column-gap: 40px;
    }

    @include tablet {
      column-gap: 28px;
    }
  }

  &__sign {
    display: flex;
    align-items: center;
    column-gap: 32px;

    @include desktop {
      column-gap: 24px;
    }

    @include tablet {
      column-gap: 16px;
    }

    &-in {
      @include hover {
        color: var(--color-accent);
      }
    }

    &-up {
      display: flex;
      align-items: center;
      column-gap: 8px;
      padding-inline: 28px;
      height: var(--button-height);
      border-radius: var(--border-radius-small);
      background-color: var(--color-accent);
      color: var(--color-white);
      @include hover {
        background-color: var(--color-dark);
      }
    }
  }

  &__language {
    display: flex;
    align-items: center;
    column-gap: 4px;
    border-radius: var(--border-radius-small);
    height: var(--button-height);
    border: var(--border-input);
    background: 0;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 8px 30px 8px 12px;
    border: 1px solid #ddd;
    background: white;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%23333' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='m6 9 6 6 6-6'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 16px;


    text-indent: 0.01px;
    text-overflow: '';

  }
}